name: Python test

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9"] # fails on 3.10
      fail-fast: true  # cancel all jobs if one fails

    steps:
      - name: Shallow clone GLMsingle
        uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install .
          pip install -r requirements_dev.txt

      - name: Display Python version and packages
        run: | 
          python -c "import sys; print(sys.version)"
          pip list

      - name: Prepare data
        run: make tests/data/nsdcoreexampledataset.mat          

      - name: Run tests and generate coverage report
        run: pytest -v --cov glmsingle --cov-report xml tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: python
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: true
